* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin-top: 22vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
  color: white;
  text-align: center;
  background-color: rgb(199, 199, 199);
}

::-webkit-scrollbar {
  display: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
}


header {
  width: 100%;
  height: 22vh;
  display: grid;
  align-items: center;
  grid-area: header;
  grid-template-areas:
    "menu logo buscador usuario"
    "categories categories categories categories";
  grid-template-columns: 6% 13% 50% 25%;
  grid-template-rows: 13vh;
  background-color: rgb(58, 58, 58);
  position: fixed;
  top: 0;
}

/* INICIO MENU */
.menu {
  grid-area: menu;
  background-color: rgb(58, 58, 58);
  color: white;
  text-align: start;
}

.menu__toggle {
  opacity: 0;
}

.menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

.menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__toggle:checked ~ .menu__box {
  left: 0;
}

.menu__btn {
  position: fixed;
  top: 6.5vh;
  left: 3vw;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3vh;
  background-color: white;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 22vh;
  left: -100%;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 80px 15px;
  list-style: none;
  background-color: rgb(38, 38, 38);
  opacity: 0.9;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  border-top: white;
  z-index: 10;
}

.menu__box--item {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5vh;
  font-weight: 600;
  transition-duration: .25s;
}
.menu__box--item:hover {
  background-color: rgb(38, 38, 38);
  color: red;
}

.menu__box--item > span {
  height: 25px;
  width: 25px;
  text-align: center;
  margin-right: 10px;
}
/* FIN MENU */

/* LOGO */
.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

#logo__img {
  width: 75px;
  height: 55px;
  z-index: 1;
}

#logo__animation {
  width: 55px;
  height: auto;
  align-items: center;
  overflow: hidden;
  animation: logoYt 15s infinite;
}

#logo__animation--img {
  width: 55px;
  height: auto;
} 

@keyframes logoYt {
  0%{
    margin-left: -60px;
  }  
  10%{
    margin-left: -60px;
  }  
  20%{
    margin-left: -60px;
  }  
  30%{
    margin: 0;
  }  
  40%{
    margin: 0;
  }  
  50%{
    margin: 0;
  }
  60%{
    margin: 0;
  }  
  70%{
    margin: 0;
  }  
  80%{
    margin-left: -60px;
  }  
  90%{
    margin-left: -60px;
  }  
  100%{
    margin-left: -60px;
  }
}
/* FIN LOGO */

/* BUSCADOR */
.buscador {
  grid-area: buscador;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buscador__input-group{
  position: relative;
  color: black;
  width: 100%;
  height: 6vh;
  background-color: white;
  border: 1px solid silver;
  font-size: 2.5vh;
  outline: none;
  box-shadow: 0px 0px 6px white;
  text-align: center;
}

.buscador__input-group--input {
  width: 100%;
  height: 6vh;
  background-color: white;
  border: 1px solid silver;
  font-size: 3vh;
  outline: none;
  box-shadow: 0px 0px 6px white;
  text-align: center;
}

.buscador__input-group--label{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform .25s;
  justify-content: center;
}

.buscador__input-group--input:focus+.buscador__input-group--label,
.buscador__input-group--input:valid+.buscador__input-group--label {
  transform: 
  translate(10px, -10px)
  scale(.8);
  color:white;
  padding-inline: 5px;
  background-color: #242329;
  box-shadow: 0px 0px 6px white;
}

.buscador__input-group--input:is(:focus, :valid){
  outline-color: #d1c5fc;
}

.buscador__btn{
  height: 6vh;
  width: 2.5vw;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0px 0px 6px white;
  background-color: rgb(218, 218, 218);
  color: #55828B;
}

.buscador__btn:hover {
  background-color: rgb(38, 38, 38);
  color: red;
  cursor: pointer;
}

.buscador__btn-mic{
  height: 6vh;
  width: 2.5vw;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: grey;
  cursor: pointer;
  transition: 0.8s;
}

.buscador__btn-mic:hover{
  transform: scale(1.7);
}

.buscador__btn-mic:active{
  animation-name: sombra;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes sombra {
  0%{
    color: grey;
  }
  50%{
    color: red;
  }
}
/* FIN BUSCADOR */

/* USUARIO Y ACCIONES */
.usuario {
  width: 100%;
  grid-area: usuario;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;   
}

.usuario > button {
  background-color: transparent;
  border: none;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}

.usuario__btn-buscar,
.usuario__btn-screencast {
  display: none;
}

.usuario__btn-buscar,
.usuario__btn-screencast,
.usuario__btn-transmitir,
.usuario__btn-notificaciones{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.usuario__btn-transmitir:hover,
.usuario__btn-notificaciones:hover{
  transform: scale(1.3);
  text-shadow: 0px 0px 6px white;
}

.usuario__btn-cuenta{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
  overflow: hidden;
}

.usuario__btn-cuenta:hover {
  box-shadow: 0px 0px 10px white;
}
.usuario__btn-cuenta--img{
  width: 100%;
  height: 100%;
}

/* FIN USUARIO Y ACCIONES */

/* SUBMENU */
.categories {
  grid-area: categories;
  display: flex;
  height: 100%;
  gap: 15px;
  background-color: rgb(58, 58, 58);
  align-items: center;
  justify-content: center;
}

.categories__item {
  padding: 2px 15px;
  text-align: center;
  background-color: rgb(78, 78, 78);
  color: white;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 15px;
  font-size: large;
}

.categories__item:hover {
  background-color: rgb(128, 128, 128);
  transform: scale(1.2);
  color: white;
}

.mobile-submenu {
  display: none; /* Después sería flex */
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100vw;
  height: 11vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(38, 38, 38);
  opacity: 0.9;
  z-index: 5;
}

.mobile-submenu__btn {
  width: 70px;
  height: 90%;
  background-color: transparent;
  border: none;
  color: white;
}

.mobile-submenu__btn--add {
  font-size: 35px;
}
.mobile-submenu__btn:active {
  transform: scale(1.3);
  text-shadow: 0px 0px 6px white;
}

.mobile-submenu__btn h3 {
  font-size: 10px;
}
/* FIN SUBMENU*/

/* MAIN */

.main {
  grid-area: main;
}

.main__title {
  display: flex;
  align-items: center;
  padding: 10px 0;
  background-color: rgb(38, 38, 38);
  font-size: 3vh;
  border: 2px solid rgb(30, 30, 30);
}

.main__title > img {
  width: 35px;
  margin: 0 8px;
}

.main__title h3 a{
  color: red;
}

.main__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(58, 58, 58);
}

.main__videos > iframe {
  margin: 10px 5px;
}
/* FIN MAIN */

/* FOOTER */
.footer {
  grid-area: footer;
  padding: 40px 0;
  background-color: rgb(38, 38, 38);
}

.footer li{
  display: inline;
  color: black;
}

.footer li > a {
  color: black;
}

.footer li > a:hover {
  color: rgb(78, 78, 78);
}
/* FIN FOOTER */
