@media only screen and (max-width:1023px){
    body {
      margin-top: 12vh;
    }
    
    header {
      grid-template-areas:
      "menu usuario";
      grid-template-columns: 40% 60%;
      height: 12vh;
    }
  
   
  
    /* INICIO MENU */
    .menu__btn {
      position: fixed;
      top: 6.5vh;
      left: 2vw;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  
    .menu__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      width: 100%;
      top: 12vh;
    }
    /* FIN MENU */
    
    /* LOGO */
    .logo {
      grid-area: menu;
      position: relative;
      left: 10vw;
    }
  
    #logo__img {
      width: 55px;
      height: 40px;
      z-index: 1;
    }
  
    #logo__animation--img {
      width: 35px;
      height: auto;
    } 
  
    @keyframes logoYt {
      0%{
        margin-left: -60px;
      }  
      10%{
        margin-left: -60px;
      }  
      20%{
        margin-left: -60px;
      }  
      30%{
        margin: -10px;
      }  
      40%{
        margin: -10px;
      }  
      50%{
        margin: -10px;
      }
      60%{
        margin: -10px;
      }  
      70%{
        margin: -10px;
      }  
      80%{
        margin-left: -60px;
      }  
      90%{
        margin-left: -60px;
      }  
      100%{
        margin-left: -60px;
      }
    }
    /* FIN LOGO */
  
    /* BUSCADOR */
    .buscador {
        display: none;
      }
    /*FIN BUSCADOR*/
  
    /* USUARIO Y ACCIONES */
    .usuario__btn-buscar,
    .usuario__btn-screencast {
      display: flex;
    }
  
    .usuario__btn-transmitir {
      display: none;
    }
  
    .usuario__btn-buscar:hover,
    .usuario__btn-screencast:hover,
    .usuario__btn-notificaciones:hover {
      text-shadow: none;
      transform: none;
    }
    .usuario__btn-buscar:active,
    .usuario__btn-screencast:active,
    .usuario__btn-notificaciones:active {
      transform: scale(1.3);
      text-shadow: 0px 0px 6px white;
    }
  
    .usuario__btn-cuenta:hover {
      box-shadow: none;
    }
  
    .usuario__btn-cuenta:active {
      box-shadow: 0px 0px 10px white;
    }
  
    /* FIN USUARIO Y ACCIONES*/
  
    /* SUBMENUS */
    .categories {
      display: none;
    }
  
    .mobile-submenu {
      display: flex;
    }
    /* FIN SUBMENUS */
  
    .main {
      z-index: -1;
    }
  }
  